$base00 = #1B2B34
$base08 = #EC5f67
$base0A = #FAC863
$base0B = #99C794

div.notify-tray {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	z-index: 998;
	display: flex;
	flex-direction: column;
	color: $base00;
	height: 100vh;
	pointer-events: none;
	overflow: auto;
	mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
	@media (min-width: 768px) {
		width: 33vw;
		height: 100vh;
		max-width: 500px;
		mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
	}
	div.message-container {
		border-radius: .25rem;
		pointer-events: auto;
		position: relative;
		z-index: 999;
		margin: 0 .5rem .5rem .5rem;
		display: flex;
		transform: translateY(0);
		transform-origin: top;
		transition: max-height 400ms, opacity 400ms, transform 400ms;
		max-height: 20rem;
		will-change: opacity, max-height, transform;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		&:first-of-type { margin-top: .5rem; }
		&.log {	background: $base0B; }
		&.warn { background: $base0A; }
		&.error { background: $base08; }
		&.hide {
			opacity: 0;
			max-height: 0;
			overflow: hidden;
			z-index: 997;
		}
		&.square-corners { border-radius: 0; }
		div.text-container {
			flex-grow: 1;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			span.header {
				display: block;
				font-weight: 600;
				margin-bottom: .5rem;
			}
			div.message {
				max-height: 100%;
				max-width: 388px;
				overflow: auto;
				scrollbar-color: rgba(0,0,0,0.2) rgba(0,0,0,0.1);
				scrollbar-width: thin;
				padding-right: .5rem;
				*:first-child { margin-top: 0; }
			}
		}
		button.handle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			background: rgba(0,0,0,0.1);
			cursor: pointer;
			padding: 0 1.5rem;
			border: 0;
			margin: 0;
			color: currentColor;
			&:active { background: rgba(0,0,0,0.2); }
			&, &:active, &:focus, &::-moz-focus-inner { outline: none; border: 0; }
			svg {
				stroke: currentColor;
				opacity: .5;
				stroke-width: .1rem;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}
	}
}
